    .row{
        justify-content: center;
        .card{
            margin: 1rem;
            transition: 0.5s;
            cursor: pointer;
            min-height: 600px;
            .btn{
                position: absolute;
                bottom: 16px;
            }
        }
    }
    .card:hover{
        transform: scale(1.05);
    }
@media only screen and (min-width:768){
    .card{
        margin: 0;
    }

}