.table-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:". . ."
                        ". table ."
                        ". . .";
}
.table-style{
    width: 100%;
    height: 60vh;
    margin: 1vh auto;
    text-align: left;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: 'Roboto',sans-serif;
    grid-area: table;
    tr{
        font-size: 2vh;
        border-collapse: collapse;
        
    }
}
td{
    vertical-align: top;
}
th, td {
    padding: 1vw;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
